@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: white; /* Cor de fundo quando o texto é selecionado */
  color: black; /* Cor do texto selecionado */
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .section-spacing {
    @apply px-8 md:px-12 pb-12 lg:pb-20 2xl:pb-32 lg:px-16 xl:px-44 2xl:px-64;
  }

  .highlight {
    @apply text-mainPalette-primaryButton uppercase;
  }

  .contact-input-container {
    @apply flex flex-col w-full gap-2;
  }
}

@layer utilities {
  .input-box {
    word-wrap: break-word;
    word-break: break-word;
  }
}